*{
  margin: 0;
  padding: 0;
}
:root{
  --transparentBlack: rgba(0, 0, 0, 0.5);
  --transparentGray: rgba(128,128,128,0.3);
  --navbarGray: #202225;
  --solidGray: rgb(46, 48, 54);
  --Gray: gray;
  --lightGray: rgb(155, 155, 155);
  --White: white;
  --deepBlue: #25185d;
  --deepBlue2: #372e63;
}

/* Register & Login page */
.formContainer{
  background-image: url(assets/container-bg.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formWrapper{
  background-color: var(--solidGray);
  border-radius: 3%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.formWrapper .logo{
  color: var(--deepBlue);
  font-weight: bold;
  font-size: 1.5rem;
}
.formWrapper .title{
  color: var(--deepBlue);
  font-weight: bold;
}
.formWrapper form{
  display: flex;
  flex-direction: column ;
  gap: 15px;
  min-width: 280px;
}
.formWrapper>p{
  font-size: 0.8rem;
}
::placeholder{
  color: var(--Gray);
}
.formWrapper>form>input{
  padding: 15px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--Gray);
}
.formWrapper>form>button{
  padding: 10px;
  border: none;
  color: var(--White);
  background-color: var(--deepBlue2);
  border-radius: 3px;
  cursor: pointer;
}
.formWrapper>form>label{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 0.8rem;
  cursor: pointer;
}

/* Home page */
.home{
  background-image: url(assets/bg.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home>.container{
  border-radius: 1.5%;
  overflow: hidden;
  color: var(--White);
  width: 70%;
  height: 90%;
  display: flex;
}


/* SideBar */
.sidebar{
  flex: 1;
  background-color: var(--transparentBlack);
  backdrop-filter: blur(1.5px);
  position: relative;
}
.sidebar>.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-right: 1.5px solid var(--solidGray);
  background-color: var(--navbarGray);
}
.sidebar>.navbar>.logo{
  font-weight: bold;
  font-size: 1.1rem;
  color: whitesmoke;
}
.sidebar>.navbar>.user{
  display: flex;
  align-items: center;
  gap: 10px;
}
.user>img{
  background-color: var(--White);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.user>button{
  background-color: var(--navbarGray);
  border: none;
  outline: none;
  cursor: pointer;
}
.search{
  border-bottom: 1px solid var(--Gray);
}
.searchForm{
  padding: 10px;
}
.searchForm>input{
  border: none;
  outline: none;
  color: var(--White);
  background-color: transparent;
}
.searchForm>input::placeholder{
  color: var(--Gray);
}
.userChat{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}
.userChat:hover{
  background-color: var(--transparentGray);
}
.userChat>img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--White);
}
.userChatInfo>span{
  font-weight: 500;
  font-size: 0.9rem;
}
.userChatInfo>p{
  font-size: 0.7rem;
  color: var(--Gray);
}


/* Chat Area */
.chat{
  flex: 2;
}
.chat>.chatInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 5px;
  border-left: 1.5px solid var(--solidGray);
  background-color: var(--navbarGray);
}
.chatIcons{
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.messages{
  background-color: var(--solidGray);
  padding: 10px;
  height: calc(100% - 140px);
  overflow-y: scroll;
}
.messages::-webkit-scrollbar{
  display: none;
}

.message{
  display: flex;
  gap: 20px;
}
.messageInfo{
  display: flex;
  flex-direction: column;
  color: gray;
  font-size: 0.8rem;
}
.messageInfo>img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.message>.messageContent{
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.messageContent>p{
  background-color: #7715b0;
  padding: 5px;
  border-radius: 0 10px 10px 10px;
  max-width: max-content;
}
.messageContent>img{
  width: 50%;
  padding-bottom: 10px;
}
.message.sender{
  flex-direction: row-reverse;
}
.message.sender>.messageContent{
  align-items: flex-end;
}
.message.sender>.messageContent>p{
    background-color: #b053b8;
    border-radius: 10px 0 10px 10px;
}

.input{
  background-color: var(--transparentGray);
  height: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input>input{
  border: none;
  outline: none;
  width: 100%;
  color: var(--White);
  background: transparent;
}
.input>input::placeholder{
  color: var(--lightGray);
}
.inputIcons{
  display: flex;
  gap: 10px;
}
.inputIcons>button{
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
.inputIcons, .inputIcons>label, .inputIcons>button{
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  
}
@media screen and (max-width: 768px) {
  .home>.container{
    width: 90%;
  }
  .user>label, .user>label>img{
    position: absolute;
    bottom: 10px;
    
  }
}
@media screen and (max-width: 1200px) {
  .sidebar>.navbar>.logo{
    display: none;
  }
  .user>label, .user>label>img{
    margin-left: 30%;
  }
}