*{
  margin: 0;
  padding: 0;
}

/* Register & Login page */
.formContainer{
  background-image: url(assets/container-bg.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formWrapper{
  background-color: #e473ef;
  border-radius: 3%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.formWrapper .logo{
  color: #25185d;
  font-weight: bold;
  font-size: 1.5rem;
}
.formWrapper .title{
  color: #25185d;
  font-weight: bold;
}
.formWrapper form{
  display: flex;
  flex-direction: column ;
  gap: 15px;
  min-width: 280px;
}
.formWrapper>p{
  font-size: 0.8rem;
}
::placeholder{
  color: #372e63;
}
.formWrapper>form>input{
  padding: 15px;
  border: none;
  background-color: #e473ef;
  border-bottom: 1px solid #25185d;
}
.formWrapper>form>button{
  padding: 10px;
  border: none;
  color: white;
  background-color: #372e63;
  border-radius: 3px;
  cursor: pointer;
}
.formWrapper>form>label{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #372e63;
  font-size: 0.8rem;
  cursor: pointer;
}

/* Home page */
.home{
  background-image: url(assets/container-bg.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home>.container{
  border-radius: 3%;
  overflow: hidden;
  color: white;
  width: 60%;
  height: 70%;
  display: flex;
}


/* SideBar */
.sidebar{
  flex: 1;
  background-color: #34084e;
}
.sidebar>.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background-color: #510e79;
}
.sidebar>.navbar>.logo{
  font-weight: bold;
  font-size: 1.1rem;
  color: whitesmoke;
}
.sidebar>.navbar>.user{
  display: flex;
  align-items: center;
  gap: 10px;
}
.user>img{
  background-color: #fff;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.user>label{
  cursor: pointer;
}
.search{
  border-bottom: 1px solid #14031e;
}
.searchForm{
  padding: 10px;
}
.searchForm>input{
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
}
.searchForm>input::placeholder{
  color: rgb(176, 175, 175);
}
.userChat{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}
.userChat:hover{
  background-color: #230535;
}
.userChat>img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.userChatInfo>span{
  font-weight: 500;
  font-size: 0.9rem;
}
.userChatInfo>p{
  font-size: 0.7rem;
  color: lightgray;
}


/* Chat Area */
.chat{
  flex: 2;
}
.chat>.chatInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 5px;
  background-color: #230535;
}
.chatIcons{
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.messages{
  background-color: #14031e;
  padding: 10px;
  height: calc(100% - 140px);
}
.input{
  background-color: #35263d;
  height: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input>input{
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  color: #fff;
}
.input>input::placeholder{
  color: rgb(176, 175, 175);
}
.inputIcons{
  display: flex;
  gap: 10px;
}
.inputIcons>button{
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
.inputIcons, .inputIcons>label, .inputIcons>button{
  cursor: pointer;
}